/*
  Global variables can be accessed through the command: var(VARIABLE_KEY);
*/
:root {
  --primary: #C0E0DE;
  --primary-dark: #91A8A8;
  --secondary: #9C27B0;
  --text: #3C474B;
  --text-invers: #FFFFFF;
  --background-img: #eaeaea;
  --background-page: var(--secondary);
}

.App {
  text-align: center;
  font-family: "Courier New", monospace;
  width: 100%;
  align-content: center;
}