.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Bungee Inline";
  font-weight: bold;
}

.Home .lander p {
  color: #999;
}

.Home .posts h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .posts p {
  color: #666;
}

.Home .posts {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Home .btn-add {
  background: #c9f8bd;
}
