.ModalMeta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ModalMeta .Label {
  float: right;
}

.ModalExtra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
